# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.env

# OS files
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/
.coverage

# IDE
.vscode/
.idea/

# Logs
*.log

# Secrets
config_local.py
